<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF=8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, iniitial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="soups.css">
    <link rel="short icon" href="images/Short cut.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body style="background-color: #ADD8E6;">
    <!-- Menu Bar -->

    <nav>
        <div class="logo">
            <a href="/">
                <img src="images/logoni.png"></a>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li>
                <a>Components <i class="fa-sharp fa-solid fa-caret-down"></i></a>
                <ul class="dropdown">
                    <li><a href="/pcparts" class="action">PC Parts</a></li>
                    <li><a href="/laptopParts">Laptop Parts</a></li>
                </ul>
            </li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
        <div class="box">
            <input type="checkbox" id="check">
            <div class="search-box">
                <input type="text" placeholder="Type here...">
                <label for="check" class="icon">
                    <i class="fas fa-search"></i>
                </label>
            </div>
        </div>

    </nav>

    
    <!--Banner-->

    <div class="banner_bg">

        <h1>PC Parts<span>Menu</span></h1>

    </div>

    <!--Menu-->

    <div class="menu anim">

        <div class="menu_box">
            <%
                product.forEach((product) => {
                    %>
                        <div class="menu_card">
                            <div class="menu_image">
                                <img src="<%= product.images %>">
                            </div>
                            <div class="small_card">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            
                            <div class="menu_info">
                                <h2><%= product.name %></h2>
                                <p>
                                    <%= product.description %>
                                </p>
                                <h3>₱<%= product.price %></h3>
                                <div class="menu_icon">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                </div>
                                <a href="/order?id=<%= product.id%>&name=<%= product.name%>&price=<%= product.price%>" class="menu_btn">Purchase</a> 
                            </div>
                            
                        </div> 
                    <%
                })
            %>
        </div>
            
    </div>


    <!--Footer-->

    <footer>

        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Cebu</p>
                <p>Iloilo</p>
                <p>Manila</p>
                <p>Aklan</p>
                <p>Negros</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/pcparts">PC Parts</a>
                <a href="/laptopParts">Laptop Parts</a>
                <a href="/gallery">Gallery</a>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+94 12 3456 789</p>
                <p>+94 25 5568 456</p>
                <p>johndeo123@gmail.com</p>
                <p>foodshop123@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Services</h2>
                <p>Fast Delivery</p>
                <p>Easy Payment</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

        <p class="end">Design by<span><i class="fa-solid fa-face-grin"></i> <%= footer %></span></p>

    </footer>
    



</body>
</html>